<!-- <ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/boardgame' | prepend: site.baseurl | prepend: site.url }}">BoardGame</a><span>/</span>
	</li>
</ul> -->

<ul>
{% for sitePage in site.pages %}
{% if sitePage.title %}
<li>
	<a href="{{ '/' + sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
</li>
{% endif %}
{% endfor %}
</ul>
